.MuiOutlinedInput-notchedOutline {
  border-radius: 20px !important;
  border: 2px solid #e0e0e0 !important;
}

.MuiOutlinedInput-root {
  padding: 13px 20px !important;
}

.MuiButtonBase-root {
  padding-left: 15px !important;
  padding-right: 12px !important;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.chat-message {
  white-space: pre-wrap;
}
